<mat-toolbar>
  <mat-toolbar-row>
    <h3>
      {{ title }}
    </h3>
    <span class="spacer"></span>
    <mat-button-toggle-group>
      <mat-button-toggle mat-icon-button (click)="offset(-1)"  title="Previous {{ this.view }}"><mat-icon>arrow_back</mat-icon></mat-button-toggle>
      <mat-button-toggle mat-icon-button (click)="current()"  title="Current {{ this.view }}"><mat-icon>center_focus_strong</mat-icon></mat-button-toggle>
      <mat-button-toggle mat-icon-button (click)="offset(1)" title="Next {{ this.view }}"><mat-icon>arrow_forward</mat-icon></mat-button-toggle>
      <mat-button-toggle mat-icon-button (click)="toggleView()"><mat-icon title="Show month view" *ngIf="view === 'week'">view_comfy</mat-icon><mat-icon title="Show week view" *ngIf="view === 'month'">view_column</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>

  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="showEvent()">
  <app-calendar-event
    [ordinaCalendarEvent]="selectedEvent"
    (closeClicked)="this.selectedEvent = undefined"></app-calendar-event>
</div>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [excludeDays]="excludeDays"
    (dayClicked)="dayClicked($event.day)"
  >
  </mwl-calendar-month-view>
  <div *ngSwitchCase="CalendarView.Week">
      <mwl-calendar-week-view
      (eventClicked)="eventClick($event)"
      [viewDate]="viewDate"
      [events]="events"
      dayStartHour="0"
      [dayEndHour]="calendarHoursInDay"
      [excludeDays]="excludeDays">
    </mwl-calendar-week-view>
  </div>

</div>

