<div class="mat-title">
  <h3>{{title}}</h3>
  <span class="spacer"></span>
  <app-animated-icon id="showToolbar" (click)="showToolbar=!showToolbar" defaultIcon="keyboard_arrow_down" animatedIcon="keyboard_arrow_up"></app-animated-icon>
</div>
<app-demobar *ngIf="showToolbar"></app-demobar>
<ng-container class="tabs">
  <mat-tab-group (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="selectedRouteIndex">
    <mat-tab *ngFor="let route of routes"  [label]="route.data.label"></mat-tab>
  </mat-tab-group>
</ng-container>
<router-outlet></router-outlet>

