<mat-toolbar *ngIf="isAdminOrEmployee">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <mat-form-field [matBadge]="selectEmployeeBadge" matBadgePosition="after" matBadgeColor="accent"  *ngIf="isAdmin">
      <mat-label>for employee: </mat-label>
      <mat-select [(value)]="employee">
        <mat-option *ngFor="let employee of employees" [value]="employee">{{employee.firstName}} {{employee.lastName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput (dateChange)="dateSelected($event)" [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" placeholder="">
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-icon-button color="primary" title="Create" (click)="openPicker(picker)"><mat-icon>add_circle</mat-icon></button>
    <button mat-icon-button color="primary" title="Delete" *ngIf="isAdminOrEmployee && selection.hasValue() > 0" (click)="remove()"><mat-icon>delete</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-form-field>
  <input matInput data-input-id="filter" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle($event) : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let availability"> {{ getAvailabilityDate(availability) }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="employee">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let availability"> {{ getEmployeeAttribute(availability.employeeId, "firstName")}} {{ getEmployeeAttribute(availability.employeeId, "lastName")}} </td>
  </ng-container>

  <!-- School Name Column -->
  <ng-container matColumnDef="booking-school-name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> School Name </th>
    <td mat-cell *matCellDef="let availability"> {{ getSchoolAttribute(availability.bookingId, "name") }} </td>
  </ng-container>

  <!-- School Contact Column -->
  <ng-container matColumnDef="booking-school-contact">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> School Contact </th>
    <td mat-cell *matCellDef="let availability"> {{ getSchoolAttribute(availability.bookingId, "contactName") }} </td>
  </ng-container>

  <!-- School Contact Email Column -->
  <ng-container matColumnDef="booking-school-contact-email">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> School Contact Email </th>
    <td mat-cell *matCellDef="let availability"> {{ getSchoolAttribute(availability.bookingId, "contactEmail") }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>

</table>
<mat-paginator [pageSizeOptions]="[10, 20, dataSource.data.length]" showFirstLastButtons></mat-paginator>
