<mat-toolbar>
  <mat-toolbar-row>
    <span>
      Ordina CodeKids :: DemoBar
    </span>
    <span class="spacer"></span>
    <button mat-icon-button color="primary" data-button-id="btnResetDemoData" title="Reset demo data" (click)="resetDemo()"><mat-icon>refresh</mat-icon></button>
    <button mat-icon-button color="primary" data-button-id="btnToggleBookedSlots" title="Show / hide booked slots" (click)="toggleBookedSlots()"><mat-icon>remove_red_eye</mat-icon></button>

  </mat-toolbar-row>
  <mat-toolbar-row class="second-toolbar-row">
    <span>Login as</span>
    <span class="spacer"></span>
    <mat-form-field>
      <mat-label>Employee</mat-label>
      <mat-select [(value)]="selectedEmployee" (valueChange)="login('employee')">
        <mat-option *ngFor="let employee of employees" [value]="employee">{{employee.firstName}} {{employee.lastName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>School</mat-label>
      <mat-select [(value)]="selectedSchool" (valueChange)="login('school')">
        <mat-option *ngFor="let school of schools" [value]="school">{{school.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button [matBadge]="adminButtonBadge" matBadgePosition="before" matBadgeColor="accent" mat-stroked-button color="primary" title="Login as admin" (click)="login('admin')">Admin</button>
  </mat-toolbar-row>
  <mat-toolbar-row class="second-toolbar-row">
    <span>
      Logged in as:
      {{ currentUser ? currentUser.email + ' - ' + currentUser.role : '' }}
    </span>
  </mat-toolbar-row>

</mat-toolbar>
