<form [formGroup]="loginForm">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="text" placeholder="Email" matInput formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" placeholder="Password" matInput formControlName="password">
  </mat-form-field>
</form>
<button mat-stroked-button (click)="login()">Login</button>
