<form [formGroup]="schoolForm">

  <mat-form-field>
    <mat-label>Select school</mat-label>
    <input type="text" placeholder="Start typing ... " matInput formControlName="select_school" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySchool">
      <mat-option *ngFor="let filteredSchool of filteredOptions" [value]="filteredSchool">
        {{filteredSchool.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div *ngIf="schoolData">
    <mat-form-field class="shared-row">
      <mat-label>Name</mat-label>
      <input type="text" placeholder="Name" matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="shared-row">
      <mat-label>Contact name</mat-label>
      <input type="text" placeholder="Contact name" matInput formControlName="contactName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contact email</mat-label>
      <input type="text" placeholder="Contact email" matInput formControlName="contactEmail">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" placeholder="Password" matInput formControlName="password">
    </mat-form-field>
  </div>

</form>
<mat-button-toggle-group>
  <mat-button-toggle mat-stroked-button (click)="new()">Create new</mat-button-toggle>
  <mat-button-toggle *ngIf="school" mat-stroked-button (click)="remove()">Remove</mat-button-toggle>
  <mat-button-toggle *ngIf="schoolData" mat-stroked-button (click)="save()">Save</mat-button-toggle>
</mat-button-toggle-group>
