<h1 *ngIf="data.title" mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{ data.description }}</p>
</div>
<div mat-dialog-actions>
  <button *ngIf="data.showCancelButton" data-button-type="cancel" cdkFocusInitial mat-button [mat-dialog-close]="false">{{ data.cancelButtonText }}</button>
  <button mat-button [mat-dialog-close]="true" data-button-type="confirm" >Ok</button>
</div>
