/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "app/resources/toaster.css";

.cal-past.cal-day-cell {
  background-color: #ededed;
}
.cal-today.cal-day-cell {
  background-color: #ededed !important;
}
.cal-time {
  display: none;
}
.cal-event {
  color: black !important;
  font-size: .75rem !important;
  font-family: 'Open Sans',Arial,sans-serif !important;
  border-width: medium !important;
}
.spacer {
  flex: 1 0 auto;
}
body {
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
