<button mat-icon-button (click)="buttonClick()">
  <mat-icon [ngClass]="animatedPosition ? 'animatedIcon' : 'defaultIcon'">{{animatedPosition ? defaultIcon : animatedIcon}}</mat-icon>
  <ng-content></ng-content>
</button>
