<form [formGroup]="employeeForm">

    <mat-form-field>
      <mat-label>Select employee</mat-label>
      <input type="text" placeholder="Start typing ... " matInput formControlName="select_employee" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee">
        <mat-option *ngFor="let filteredEmployee of filteredOptions" [value]="filteredEmployee">
          {{filteredEmployee.firstName}} {{filteredEmployee.lastName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div *ngIf="employeeData">
      <mat-form-field class="shared-row">
        <mat-label>First name</mat-label>
        <input type="text" placeholder="First name" matInput formControlName="firstName">
      </mat-form-field>
      <mat-form-field class="shared-row">
        <mat-label>Last name</mat-label>
        <input type="text" placeholder="Last name" matInput formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" placeholder="Email" matInput formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" placeholder="Password" matInput formControlName="password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Education packages</mat-label>
        <mat-select formControlName="educationPackages" multiple>
          <mat-option *ngFor="let educationPackage of educationPackages" [value]="educationPackage">{{educationPackage}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

</form>
<mat-button-toggle-group>
  <mat-button-toggle mat-stroked-button (click)="new()">Create new</mat-button-toggle>
  <mat-button-toggle *ngIf="employee" mat-stroked-button (click)="remove()">Remove</mat-button-toggle>
  <mat-button-toggle *ngIf="employeeData" mat-stroked-button (click)="save()">Save</mat-button-toggle>
</mat-button-toggle-group>
