<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span>
          {{ ordinaCalendarEvent.availability.date.toLocaleDateString() }}
          -
          {{ ordinaCalendarEvent.employee.firstName }} {{ ordinaCalendarEvent.employee.lastName }}
        </span>
        <span class="spacer"></span>
        <button *ngIf="canBook()" mat-stroked-button color="primary" (click)="book()">Book</button>
        <button *ngIf="canCancel()" mat-stroked-button color="accent" (click)="cancel()">Cancel</button>
        <mat-form-field [matBadge]="selectSchoolBadge" matBadgePosition="after" matBadgeColor="accent"  *ngIf="isAdmin && !ordinaCalendarEvent.booking">
          <mat-label>for school: </mat-label>
          <mat-select [(value)]="targetSchool">
            <mat-option *ngFor="let school of schools" [value]="school">{{school.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="close()"><mat-icon>cancel</mat-icon></button>


      </mat-list-item>
      <mat-list-item>Skills: {{ ordinaCalendarEvent.employee.educationPackages.join(", ") }}</mat-list-item>

    </mat-list>


  </mat-card-content>

</mat-card>
